body[data-layout=detached] .content-page {
	margin-left: 1.5rem;
	margin-right: 0px;
	padding: 0px 0px 30px 0px;
}

.content-header .container-fluid {
	max-width: 100% !important;
	padding-right: 0px;
    padding-left: 0px;	
}

.content .container-fluid {
	max-width: 100% !important;
	padding-right: 0px;
    padding-left: 0px;	
}

.crud-form .form-group {
    margin-bottom: 1rem;
}

.crud-form .form-group:last-child {
    margin-bottom: 0.5rem;
}

.DTE .form-group {
    margin-bottom: 1rem;
}

.DTE .form-group:last-child {
    margin-bottom: 0.5rem;
}

.dropzone {
	padding: 12px
}

.dropzone .dz-preview {
	margin: 12px;
}

@media (max-width: 768px) {
	body[data-layout=detached] .content-page {
		padding: 0px 8px 24px 8px;
	}
	
	body[data-layout=detached] .wrapper {
		padding-top: 1rem;
	}
	
    .crud-form .form-group {
        margin-bottom: 0.5rem;
    }
		
    .DTE .form-group {
        margin-bottom: 0.5rem;
    }

    li.paginate_button {
        width: fit-content;
        display: inline-flex !important;
        justify-content: center;
        align-items: center;
        align-content: center;
    }	

	.dataTables_paginate ul {
		text-align: center;
		display: block;
		margin: 12px 0 0!important;
	}
	
	.form-group .label {
		margin-top: .5rem;
	}
}
